<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6MHlrphKcgJUUEfdowGuFmnZtSdw-csY</string>
	<key>GCM_SENDER_ID</key>
	<string>734975451672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audioplayer</string>
	<key>PROJECT_ID</key>
	<string>chathub-3cbbe</string>
	<key>STORAGE_BUCKET</key>
	<string>chathub-3cbbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734975451672:ios:756e8e7dd4033c9c6c596d</string>
	<key>DATABASE_URL</key>
	<string>https://chathub-3cbbe-default-rtdb.firebaseio.com</string>
</dict>
</plist>